MooneyBravo.zip
Mooney.zip
._Mooney-M20M.blend1
Mooney-M20M.blend1
Mooney-M20M.blend1
._*
.DS_Store

.venv-jsbsim/

__pycache__/
*.pyc

# Copyrighted development reference material; not distributed
Blender/Reference/3-view.png
