Models/**/*.png filter=lfs diff=lfs merge=lfs -text
Models/**/*.jpg filter=lfs diff=lfs merge=lfs -text
Models/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
Models/**/*.dds filter=lfs diff=lfs merge=lfs -text
Models/**/*.tga filter=lfs diff=lfs merge=lfs -text
Models/**/*.rgb filter=lfs diff=lfs merge=lfs -text
Models/**/*.exr filter=lfs diff=lfs merge=lfs -text
Models/**/*.hdr filter=lfs diff=lfs merge=lfs -text
Textures/**/*.png filter=lfs diff=lfs merge=lfs -text
Textures/**/*.jpg filter=lfs diff=lfs merge=lfs -text
Textures/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
Textures/**/*.dds filter=lfs diff=lfs merge=lfs -text
Textures/**/*.tga filter=lfs diff=lfs merge=lfs -text
Textures/**/*.rgb filter=lfs diff=lfs merge=lfs -text
Textures/**/*.exr filter=lfs diff=lfs merge=lfs -text
Textures/**/*.hdr filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
*.kra filter=lfs diff=lfs merge=lfs -text
*.afphoto filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.ive filter=lfs diff=lfs merge=lfs -text
*.osgb filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.mkv filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.7z filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
